* {
	margin: 0;
	padding: 0;
}

body {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    grid-column: 1/4;
}

h1 {
    text-align: left;
	background-color: rgb(0 110 182 / 1);
	padding: 2rem;
	color: #fff;
	display: grid;
}

p {
	text-align: center;
}

nav {
	margin: 0 auto 2rem;
    flex: 1 1 auto;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}

.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
	position: relative;
	width: 60rem;
	height: 30rem;
	background-color: #eee;
}

.main-content {
	grid-column: 1/3;
	grid-row: 2/4;
    position: relative;
    text-align: left;
    position: relative;
}

aside {
	position: relative;
	width: 30rem;
	height: 30rem;
}

.aside-content {
	grid-column: 1/3;
	grid-row: 1/4;
	text-align: left;
    position: relative;
}

footer {
	width: auto;
	height: 10rem;
	display: grid;
	text-align: center;
    background-color: rgb(0 110 182 / 1);
	color: #fff;
	grid-column: 1/4;
}