:root {
    --primary-color: #003366; 
    --secondary-color: #0059b3; 
    --accent-color: rgb(0,0,0);
    --accent1-color: #f5f3f4;
    --accent2-color: rgb(14, 66, 79);

    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: var(--body-font);
    font-weight: 400;
    background-color: var(--accent2-color);
    

}

h1 span{
    color: #fff176;
    font-weight: 100;
    margin-left: 10px;
}

p {
  color: var(--accent1-color);
}
.container {
    width: 1150px;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    padding: 2px;
    
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    
}

#course-title{
    display:block;
    font-size:1.5rem;
    font-weight: bold;
    margin-bottom:1rem;
}

h1 {
     text-align: center;
     align-items: center;
}

h1, h2, h3, h5 {
    font-family: var(--heading-font);
    font-weight: 300;
    color: var(--accent1-color);

}

nav {
    display:flex;
    justify-content: center;
    gap:1.5rem;

}

nav a {
    margin: 0 1rem;
    color: var(--accent1-color);
    padding: 0.5rem 1rem;
    font-size: 1.25em;
    text-decoration: none;
}


.box{
    justify-items: center;
    display: flex;
    width: 1150px;
    height: 850px;
}
 
nav a:hover{
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid #fff;
}

main{
    max-width: 750px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    background-color: var(--accent-color);

}

.card{
    display: flex;
    background-color: var(--accent-color);
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    
}

.card img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding: 2px;
}


aside {

    width: 35%;
    background-color: var(--accent-color);
    align-items: center;
    }

footer{
    background-color: var(--primary-color);
    color: var(--accent1-color);
    text-align: center;
    padding: 1rem;

}

footer p {
    margin: 0.5rem 0;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        flex: 1 1 100%
    }
}

 @media screen and (min-width: 640px) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
        
    }
 }