@media screen and (min-width: 612px) {
    #picture-section{
            display: grid;
            grid-template-columns: 16rem 16rem;
            grid-gap: 5rem;
            margin: 0 auto;
            justify-content: center;
    }
}

@media screen and (min-width: 800px) {
    header{
        display: flex;
        justify-content: space-between;
    }

    img{
        width: 10rem;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    main{
        text-align: center;
    }
    #picture-section{
        display: grid;
        grid-template-columns: 17rem 17rem 17rem;
        grid-gap: 20px;
        margin: 0 auto;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navigation li {
        display: block;;
        flex: 1 1 100%;
        font-size: 1.4rem;
        font-weight: lighter;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .navigation a{
        text-align: center;
    }
    #menu {
        display: none;
    }
}
