:root {
  --primary-color: #00843D;
  --secondary-color: #FFD100;
  --text-color: #333;
  --bg-color: #fff;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    width: 100%;
    height: auto;
    display: block;
}

main {
    padding: 1rem;
}

.weather .svg-icon {
    width: 50px;
    display: block;
    margin-top: 1rem;
}

.weather-icon::after{
    margin-left: 0.5rem;
}

.hero {
    position: relative;
}

.hero picture,
.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

main {
    display: grid;
    grid-template-areas:
      "info ."
      ". weather";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 2rem;
    color: white;
    font-family: sans-serif;
}
.info, .weather {
    background: rgba(0, 0, 0, 0.5); 
    padding: 1rem;
    border-radius: 10px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}
